{% assign enable_toc = false %}
{% if site.toc and page.toc %}
  {% if page.content contains '<h2' or page.content contains '<h3' %}
    {% assign enable_toc = true %}
  {% endif %}
{% endif %}

{% if enable_toc %}
  <section id="toc-wrapper" class="d-none ps-0 pe-4">
    <h2 class="panel-heading ps-3 mb-2">{{- site.data.locales[include.lang].panel.toc -}}</h2>
    <nav id="toc"></nav>
  </section>
	<div id="toc-wrapper-ad">
		<!-- toc 목차 -->
		<!-- google adsense -->
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8794418288099503"
			 crossorigin="anonymous"></script>
		<!-- test -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8794418288099503"
			 data-ad-slot="3505743857"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
			 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		 <script>
		window.addEventListener('scroll', function() {
		  var tocWrapper = document.getElementById('toc-wrapper');
		  var tocWrapperAd = document.getElementById('toc-wrapper-ad');

		  // toc-wrapper와 toc-wrapper-ad의 위치 정보 가져오기
		  var tocRect = tocWrapper.getBoundingClientRect();
		  var tocAdRect = tocWrapperAd.getBoundingClientRect();

		  // toc-wrapper와 toc-wrapper-ad가 겹치는지 여부 확인
		  var overlap = !(tocRect.bottom < tocAdRect.top || tocRect.top > tocAdRect.bottom);

		  // 겹치면 toc-wrapper-ad에 fade-out 클래스 추가
		  if (overlap) {
			tocWrapperAd.classList.add('fade-out');
		  } else {
			tocWrapperAd.classList.remove('fade-out');
		  }
		});
		
	  </script>
	</div>
{% endif %}
